<!DOCTYPE html>
<html>
<meta charset="utf-8">
<link rel="icon" href="data:;base64,=">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content" th:if="${order != null}">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${order.id}"  type="hidden">
                        <input id="uuid" name="uuid" th:value="${uuid}"  type="hidden">
                        <h4 class="text-center center-block">付款金额</h4>
                        <h4 class="text-center center-block text-danger" id="orderAmount" name="orderAmount" th:text="${order.orderAmount}" type="text"></h4>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="button" class="btn btn-primary btn-block" onclick="payForOrder()">付款</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ibox-content" th:if="${order == null}">
                    <div class="text-center center-block">
                        <div class="">
                            <span class="fa fa-qrcode fa-2x"></span>
                            <span class="fa fa-qrcode fa-2x"></span>
                        </div>
                        <div class="">
                            <span class="fa fa-qrcode fa-2x"></span>
                            <span class="fa fa-times fa-2x" style="color:red;"></span>
                        </div>
                        <div class="">
                            <p>付款二维码已失效请重新发起！</p>
                            <p>如已经付款请关闭页面，请勿重复提交！</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/manager/order/pay.js">
</script>
</body>
</html>
