<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款</title>
    <link rel="icon" href="data:;base64,=">
</head>
<head th:include="include :: header"></head>
<body>
<div class="wrapper wrapper-content ">
    <div class="col-sm-12" th:if=" ${qrCodeUrl != null}">
        <input id="uuid" name="uuid" th:value="${uuid}"  type="hidden">
        <div class="text-center center-block">
            <img th:src="@{{fileUrl}(fileUrl=${qrCodeUrl})}" style="max-width: 25em;max-height: 30em" >
        </div>
        <div class="">
            <p class="text-center">请用手机扫描付款二维码进行付款！</p>
            <p class="text-center">付款成功后请刷新页面，请勿重复发起付款！</p>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="text-center center-block" th:if="${qrCodeUrl == null}">
            <div class="">
                <span class="fa fa-qrcode fa-2x"></span>
                <span class="fa fa-qrcode fa-2x"></span>
            </div>
            <div class="">
                <span class="fa fa-qrcode fa-2x"></span>
                <span class="fa fa-times fa-2x" style="color:red;"></span>
            </div>
            <div class="">
                <p>付款二维码已失效请重新发起！</p>
                <p>如已经付款请关闭页面，请勿重复提交！</p>
            </div>
        </div>
    </div>
</div>

<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/manager/order/pay.js"></script>
<script>
    $(function() {
        checkPaymentStatus();
    });

    function checkPaymentStatus() {
        var uuid = $("#uuid").val();
        if (uuid != null && uuid != "" ) {

            $.ajax({
                cache: true,
                async : true,
                type: "GET",
                url: "/manager/order/checkPaymentStatus/" + uuid,
                beforeSend:function(XMLHttpRequest){
                    layer.closeAll('loading');
                },
                error: function (request) {
                    parent.layer.alert("Connection error");
                },
                success: function (data) {
                    if (data.code == 0) {
                        window.location.href = "/sys/user/usercenter/myOrder";
                        var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
                        parent.layer.close(index);
                        parent.$('body').append('<a href="/sys/user/usercenter/myOrder"><span id="orderLink"></span></a>');
                        parent.$("#orderLink").click();
                    } else {
                        checkPaymentStatus();
                    }
                }
            });
        }
    }
</script>
</body>
</html>