<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款成功</title>
</head>
<head th:include="include :: header"></head>
<body>
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="text-center center-block">
                <img src="/img/farm_mall_logo.jpg" class="img-responsive" style="margin-top: 1em;width: 8em;height: 8em">
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>