<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>付款成功</title>
</head>
<head th:include="include :: header"></head>
<body>
<div class="bg-success " style="height: 4em;">
    <p class="lead" style="height: 2em;padding-top: 1em">订单付款成功！</p>
</div>
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12 text-center center-block">
            <span class="fa fa-check-circle-o" style="color: #4c9e4c;font-size:10em;margin-top: 0.5em"></span>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
</body>
</html>