<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:include="manager/index/include_header::header"></head>
<link rel="stylesheet" type="text/css" href="/css/manager/style.css">

<body class="user-select">

	<header class="header" >
        <nav th:include="include_header::nav"  class="navbar navbar-default navbar-fixed-top" id="navbar" style="margin-bottom: 5em" ></nav>
	</header>

	<!-- Main Content -->
    <!--<div class="container">-->
        <section class="container"  style="margin-top: 5em">
            <div class="content-wrap">
                <div class="content">
                    <div id="focusslide" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#focusslide" data-slide-to="0" class="active"></li>
                            <li data-target="#focusslide" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="/manager/product/open/3" title="农产品" >
                                    <img src="/img/海报1.jpg" alt="农产品" class="img-responsive"></a>
                            </div>
                            <div class="item">
                                <a href="/manager/product/open/3" title="农产品" >
                                    <img src="/img/海报2.jpg" alt="农产品" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="incomeNum">


                    </div>

                </div>
            </div>

            <aside class="sidebar">


                <div class="widget widget_hot" id="hot_product">
                    <h3>热门商品</h3>

                </div>

            </aside>
        </section>

				<!--</div>-->
				<div class="clearfix">
					<p id="flagLoaded" style="display: none; text-align: center;">已全部加载</p>
					<a id="flagLoad" style="display: none;" class="btn btn-secondary float-right" 
						href="javascript:void(0)" onclick="nextPage()">点击加载更多 &rarr;</a>
				</div>
			<!--</div>-->
		<!--</div>-->
	<!--</div>-->
	</body>
	<div th:include="include_header::footer"></div>
	<script type="text/javascript">
		var limit = 12;
		var currentPage = 0;
		var total;


        $(function(){
        	bindList(0);
            hotProductList();
        });

        function nextPage() {
        	bindList(currentPage * limit)
        }
        function bindList(offset) {
            var keyword = $("#keyword").val();
            var url = '/manager/product/mall/list?limit=12&offset=';
            if (keyword!=null&&keyword!=undefined&&keyword!=""){
                url = '/manager/product/mall/list/'+ keyword +'?limit=12&offset=';
            }

        	$.ajax({
        			url : url + offset,
        			method : 'get',
        			dataType : 'json',
        			success : function(data) {
        				var rows = data.rows;
        				total = data.total;
        				var htmlText = "";
        				for (i = 0; i < rows.length; i++) {
                            var title = rows[i].title;        //执行替换成空字符
                            var product = JSON.stringify(rows[i]).replace(/\"/g, "'");
                            htmlText += '<div style="height: 23em" class="col-md-3"> <div><a  href="/manager/product/open/' + rows[i].id + '"  >';
                            htmlText += '<img src="'+ rows[i].picture +'"  class="text-center center-block" style="width: 13em;height: 16em" >' ;
                            htmlText += '<div><p class="note" style="text-overflow: ellipsis;overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 3em">' + title + '</p></a>';
                            htmlText += '<div class="text-left"><h5>' + rows[i].farm + '</h5><span>剩余：' + rows[i].stock + '</span><button class="btn-danger pull-right"><a href="/manager/order/claim/' + rows[i].id + '">申领</a></button></div></div>';
                            htmlText += '</div></div>';
        				}

        				$("#incomeNum").append(htmlText);
        				document.getElementById("flagLoad").style.display = "block";
        				currentPage++;
        				if (total <= currentPage * limit) {
        					document.getElementById("flagLoaded").style.display = "block";
        					document.getElementById("flagLoad").style.display = "none";
        				}
        			}
        		});
        }

        function hotProductList() {
            var url = '/manager/product/mall/hotProductList';

            $.ajax({
                url : url,
                method : 'get',
                dataType : 'json',
                success : function(data) {
                    var rows = data.rows;
                    total = data.total;
                    var htmlText = "<ul>";
                    for (i = 0; i < rows.length; i++) {
                        var title = rows[i].title;
                        htmlText += '<li><a  href="/manager/product/open/' + rows[i].id + '"  >';
                        htmlText += '<span class="thumbnail"><img class="thumb" data-original="img/yazi1.jpg" src="'+ rows[i].picture +'"  class="thumb" style="display: block;" >' ;
                        htmlText += '<span class="text">' + title + '</span><span class="muted">销量：1000</span>';
                        htmlText += '<span class="text-left">' + rows[i].farm + '<span>剩余：' + rows[i].stock + '</span></span>';
                        htmlText += '</a></li>';
                    }
                    htmlText += "</ul>";

                    $("#hot_product").append(htmlText);

                }
            });
        }
	</script>


</html>
